In [1]:
import pandas as pd
df = pd.read_csv("airlines.csv")

In [2]:
df

,index,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...,...
6157,6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [ ]:
df2 = pd.read_csv("airplanes.csv")